:root {
    --orange: 255, 149, 0;
    --red: 255, 59, 48;
    --black: 33, 33, 33;
    --white: 255, 255, 255;
    --light-gray: 220, 220, 223;
    --gray: 136, 139, 144;

    --standard-size: 16px;
    --tittle-size: 22px;

    --light-font: 400;
    --medium-font: 500;
    --bold-font: 600;

    font-size: 16px;
}